<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css"></link>
<style type="text/css">
    body {
        background-color: #EEDC82;
    }
    #center {
        text-align: center;
    }
</style>
<p>Hello, {{ user }}</p>
<a href="/logout/">logout</a>
<form action="/gifs/newgif/" method="post" enctype="multipart/form-data">{% csrf_token %}
    {{ form.title }}{{ form.file_path}}
    <input type="submit" value="Submit">
</form>
<div id="center" class="span12">
    {% if gif_list %}
        {% for gif in gif_list %}
            <h3>{{gif.title}}</h3>
            <p><b>Posted By:</b>&nbsp{{ gif.user }}</p>
            <img src="/media/gifs/{{ gif.id }}/"/>
            <br/><br/><br/>
        {% endfor %}
    {% else %}
        <p>No Gifs yet.</p>
    {% endif %}
</div>
<br/>
<br/>
