<link rel="stylesheet" href="static/bootstrap/css/bootstrap.css"></link>
<style type="text/css">
    body {
        background-color: #EEDC82;
    }
    #main {
        text-align: center;
    }
</style>

<br/>
<div class="row-fluid">
    <div id="main" class="span12"
        <p>I applaud your civility</p>
        <img src="static/splash.gif" alt="Splash Gif"/>
        <br/>
        <a href="login_page/">Login</a>&nbsp&nbsp&nbsp
        <a href="registration/">Register</a>
    </div>
</div>

<!--
<form action="/login/" method="post">
  <input type="text" name="username" value="username"/><br />
  <input type="password" name="password" value="password" /><br />
  <input type="submit" value="Login" />
</form>
<p>Or make a new account</p>
<form action="/newuser/" method="post">
  <input type="text" name="username" value="username"/><br />
  <input type="password" name="password" value="password" /><br />
  <input type="submit" value="Submit" />
</form>
-->
